{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="my-4 text-center">
    <h3>Painel de controle:</h1>
    <div class="btn-group">
        <a href="/admin/" class="btn btn-primary active">Quartos</a>
        <a href="/admin/usuarios" class="btn btn-primary">Usuários</a>
        <a href="/admin/reservas" class="btn btn-primary">Reservas</a>
    </div>
</div>
<div class="card text-white bg-dark mx-4 mb-5">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                <h3 class="text-left mx-5">Quartos</h3>
            </div>
            <div class="col">
                <a href="/admin/addOrEditQuarto"><button type="button" class="btn btn-success mt-2">Criar
                        Quarto</button></a>
            </div>
        </div>
        <hr>
        {{#each quartos}}
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">N°:</th>
                    <th scope="col">Reserva:</th>
                    <th scope="col">Tipo:</th>
                    <th scope="col">maxPessoas:</th>
                    <th scope="col">Crianças:</th>
                    <th scope="col">Preço:</th>
                    <th scope="col">Opções:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{numero}}</th>
                    <td>{{reserva}}</td>
                    <td>{{tipo}}</td>
                    <td>{{maxPessoas}}</td>
                    <td>{{criancas}}</td>
                    <td>{{preco}}</td>
                    <td>
                        <a href="/admin/addOrEditQuarto/{{_id}}" class="btn btn-warning" role="button"
                            data-bs-toggle="button">Editar</a>
                        <a href="/admin/delquarto/{{_id}}" class="btn btn-danger" role="button"
                            data-bs-toggle="button">Apagar</a></td>
                    </td>
                </tr>

            </tbody>
        </table>
        {{else}}
        <h5>Não há quartos criados</h3>
        {{/each}}
    </div>
</div>